/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    KDA analysis Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------
*/

// default params
params {

    // 
    source_folder       = "$projectDir/lib/"
    direction           = "undirected"
    BN_filename         = "$projectDir/input/BN_digraph_pruned_formatted"
    genelist_filename   = "$projectDir/input/KDAInputFile.txt"
    outputDir           = "results/"
    layers              = 6
    
}
    

docker {
        docker.enabled         = true
}